/* Css Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
}
body {
    font-family: theMixSemiBold;
    background-color: #f5f5f5;
}
/* Navigation bar */

.nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.link{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13.6px;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.link > li {
    margin-right: 30px;
    cursor: pointer;
}

.link > li:last-child {
    margin-right: 0px;
  }

/* Hero */
.hero {
    background: url("../images/slide5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    position: relative;
  }

.hero-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-content: center;
    padding: 15vh 10vw 15vh 10vw;
    width: 100%;
}

.hero-heading {
    
    text-align: center;
    font-size: 48px;
    font-family: theMixBlack;
    line-height:48px;
    letter-spacing: 2px;
    margin-bottom: 40px;
    color: #fff;
}

.down-icon{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 25%;
    margin-top: 25px;
}

.down {
    width:50px;
    margin-bottom: 20px;
    cursor: pointer;
}

/* Foundations */

.foundations {
    padding: 5vh 0;
}

.foundations-header {
    text-align: center;
    font-size: 32px;
    font-family: theMixBold;
    margin-bottom: 20px;
}

.foundations-box-design {
    display: flex;
    justify-content: space-evenly;
    height: 70%;
}

.foundations-box {
    max-width: 100%;
    width:18%;
    padding: 3vh 3vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 5px;
    background-color: #fff;
}
.hover-1:hover {
    background-color: lightblue;
}

.hover-2:hover {
    background-color: lightblue;
}

.hover-3:hover {
    background-color: lightblue;
}

.hover-4:hover {
    background-color: lightgreen;
}

.hover-5:hover {
    background-color: lightpink;
}

.foundations-box-image {
    width: 75%;
    height: 20%;
    margin-left: 20px
}

.foundations-box-image >  img {
    width: 100%;
}

.foundations-box h2 {
    font-size: 20px;
    font-family: theMixBold;
    font-weight: 400;
    text-align: center;
}

.foundations-box p {
    color: #646464;
    font-size: 16px;
    font-family: theMixSemiBold;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}
/* Explore */

.explore {
    min-height: 10%;
    background-image: url(../images/parallax-4.jpg);
    background-position: center;
    background-color: #0078be;
}

.explore-heading {
    font-size: 27px;
    font-family: theMixBold;
    color: #fff;
    padding: 5vh 0;
}

.explore-image {
    width: 60%;
    height: 30%;
}

.explore-image > img {
    width: 100%;
    height: 100%;
}

.explore-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
}

/* Join BDD */

.join-section {
    display: flex;
}

.join h1 {
    text-align: center;
    font-size: 32px;
    font-family: theMixBold;
    color: #212121;
    padding: 5vh;
}

.join-image {
    width: 30%;
    height: 50%;
}

.join-image > img {
    width: 100%;
}

.join-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 69%;
}

.join-sub-container {
    display: flex;
    justify-content: space-between;
    height: 90%;
}

.join-box {
    width:22%;
    height: 90%;
    background-image: url(../images/bg-icon.png);
    background-size:cover;
    background-position: center left;
    background-color: #fff;
    box-shadow: 0px 4px 15px 0px rgb(0 0 0 / 6%);
    filter: brightness(100%);
    border-radius: 5px;
}

.join-box > h2 {
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: theMixBold;
    color: #212121;
    padding-top: 5vh;
    padding-bottom: 3vh;
}

.join-box > ul {
    list-style-image: url(../images/bullet5.png);
    font-size: 16px;
    font-family: theMixSemiBold;
    color: #646464;
    text-align: start;
    padding: 0 11vh;
    margin-bottom: 50%;
}

.join-box > button {
    margin-left: 4vw;
    margin-bottom: 300px;
}

.join-footer {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    /* margin-top: 5px; */
}

.join-footer >h3 {
    font-size: 16px;
    font-family: theMixSemiBold;
    color: #646464;
}

.join-store {
    display: flex;
    justify-content: end;
    width: 12%;
    margin-top: 15px;
}

.join-store > img {
    width: 100%;
    margin-left: 10px;
}

/* BDD Hub */

.hub {
    background-image: url(../images/parallax-light.jpg);
    height: 100%;
}

.hub > h2 {
    font-size: 32px;
    font-family: theMixBold;
    color: #212121;
    text-align: center;
    padding-top: 10vh;
}

.hub-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10vh
}

.hub-box {
    width: 25%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh;
}

.hub-image {
    width: 25%;
    display: flex;
    justify-content: center;
}

.hub-image > img {
    width: 100%;
}

.hub-box > p {
    text-align: center;
}

.hub-box > h3 {
    font-size: 15px;
    font-family: theMixBold;
    color: #333;
    text-align: center;
    width: 100%;
}

/* Footer */

.footer {
    padding: 20px 10vw;
    background-color: #212121;
    color: #fff;
    font-weight: bold;
}



.footer-heading {
    display: flex;
    justify-content: space-between;
}

.footer-heading > h3 {
    color: #b6b6b6;
    font-size: 20px;
    font-family: theMixBlack;
    margin-bottom: 20px;
}

.sitemap {
    display: flex;
    justify-content: space-between;
}

.sitemap h3 {
    color: #b6b6b6;
    font-family: theMixSemiBold;
    font-size: 16px;
    margin-bottom: 10px;
}

.sitemap li {
    list-style: none;
    font-size: 14px;
    font-weight: theMixSemiBold;
    margin-left: 15px;
    margin-bottom: 10px;
}

.email-subscribe {
    border-bottom: 1px solid #fff;
    border-radius: 0;
}

.email {
    font-family: theMixSemiBold;
    padding: 12px 12px;
    font-size: 12px;
    background-color: transparent;
    border: none;
}

.button-subscribe {
    padding: 4px 11px;
    border: none;
    border-radius: 30px;
    font-size: 14.4px;
    font-weight: 400;
    font-family: theMixSemiBold;
    letter-spacing: 1px;
    cursor: pointer;
}

.bdd-mail {
    display: flex;
    justify-content: space-between;
}

.bdd-mail > i {
    color: #0078be;
}

.bdd-mail > p {
    font-size: 13px;
    font-family: theMixSemiBold;
}

.bdd-phone {
    display: flex;
    justify-content: space-between;
}

.bdd-phone > i {
    color: #0078be;
}

.bdd-phone > p {
    font-size: 13px;
    font-family: theMixSemiBold;
}

.store {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.store > img {
    max-width: 100%;
    cursor: pointer;
}

.privacy-policy {
    width: 60%;
    display: flex;
    justify-content: space-between;

}

.privacy-policy > p {
    font-size: 12px;
}

.sitemap li:hover, .sitemap p:hover, .sitemap img:hover {
    border-bottom: 2px solid #0078be;
    border-radius: 0;
    cursor: pointer;
}

.trademark {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.trademark > p {
    font-size: 12px;
    color: #646464;
    font-family: theMixSemiBold;
}

.webneoo {
    color: #0078be;
    cursor: pointer;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    width: 10%;
}

.social-media > p {
    color: #0078be;
    font-size: 25px;
    padding-right: 10px;
    padding-left: 10px;
}

.fa {
    background-color: #212121;
    color: #fff;
    text-decoration: none;
    padding-top: 20px;
    width: 70px;
}

.fa-facebook:hover {
    color: #3B5998;
}

.fa-instagram:hover {
    color: #5851DB;
}

.fa-twitter:hover {
    color: #00ACEE;
}

.fa-linkedin:hover {
    color: #0e76a8;
}

.scroll-to-top {
    position: fixed;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    background-color: #e3e3e3;
    color: #0078be;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    font-size: 13px;
}

.scroll-to-top:hover {
    background-color: #0078be;
    color: #fff;
}

/* Utilities */

.container {
    padding: 2vh 12vh;
    width: 100%;
}

.bold {
    font-weight: bolder;
}

.button {
    padding: 13px 22px;
    border: none;
    border-radius: 30px;
    font-size: 14.4px;
    font-weight: 400;
    font-family: theMixBold;
    letter-spacing: 1px;
}

.button-blue {
    background-color: #0078be;
    color: #fff;
}

/* Fonts */

@font-face {
    font-family: theMixBlack;
    src: url(../fonts/TheMixBlack-Plain.otf);
}

@font-face {
    font-family: theMixSemiBold;
    src: url(../fonts/TheMixSemiBold-Plain.otf);
}

@font-face {
    font-family: theMixBold;
    src: url(../fonts/TheMixBold.otf);
}

/* Media Query */

@media only screen and (max-width: 800px) {
    .mobile {
      flex-direction: column;
    }
  
    .media-images > img {
      width: 100%;
    }
  
    .program-images > div {
      width: 100%;
    }
  }